html,
body,
#app {
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

@media (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .mobile-only {
    display: none !important;
  }
}